


*{
    margin: 0;
    padding: 0;}

   
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
   
h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;;
}



p {
    font-family:  'Open Sans', sans-serif;;
     font-size: 14px;
 }

header {
    display: flex;
    justify-content: center;
    height: 120px;

    
}

.head:hover {
    background-color: #42B3E5 ;
    color: white;
}


.conta {
    display: flex;
    width: 990px;
    justify-content: space-between;
        }

.logo {
    display: flex;

    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

nav a {
    display: block;
    padding: 10px;
    color: #727272;
    text-decoration: none;
    
}

a#a_img:hover {
    background-color: #00A2DE;
    color: white;
}

#a_img {
    font-size: 12px ;
}




section#img1 {
    
    
    background-image: url(imagens/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 670px;

    
    
}

#cima h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

#cima div p {
    color: white;
    font-size: 14px;
    font-family:  'Open Sans', sans-serif;;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 670px;

 
    
}

#cima {

    height: 450px;
    width: 990px; 
    display: flex;
    align-items: center;
   
 
    
   
}

#cima div {
    width: 330px;
    height: 225px;
   
  
}




#baixo {

    display: flex;
    height: 220px;
    width: 990px;

}

.divbaixo, .divbaixo2, .divbaixo3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:#46B4E5;
}

.divbaixo h2 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 12px;
}

.divbaixo2 h2 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 12px;
}

.divbaixo3 h2 {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 12px;
}

.divbaixo p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
    text-align: justify;
    margin: 0px 16px 15px 16px;
    
}

.divbaixo2 p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
    text-align: justify;
    margin: 0px 16px 15px 16px;
}

.divbaixo3 p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
    text-align: justify;
    margin: 0px 16px 15px 16px;
}



.divbaixo a {
    text-decoration: none;
    color: white;
    border: 1px solid #FFF;
    padding: 10px;
    align-self: center;
    display: inline-block;
}

.divbaixo2 a {
    text-decoration: none;
    color: white;
    border: 1px solid #FFF;
    padding: 10px;
    align-self: center;
    display: inline-block;
}

.divbaixo2 {
    flex: 1;
    display: flex;
    background-color: #0384CE;
}

.divbaixo3 {
    flex: 1;
    display: flex;
    background-color:#3156A3;
}

.container2 {
    display: flex;
    width: 990px;
    justify-content: space-between;
   
   
}

.testando1 {
    flex: 2;

}



#banner {
    display: flex;
    justify-content: center;

}

.testando2 {
    display: flex;
    flex-direction: column;
    height: 900px;
    flex: 1;
   
}

.widget1 {
    display: flex;
    flex-direction: column;
}

.widget2 {
    display: flex;
    flex-direction: column;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
   font-size: 18px; font-family:'PT Sans'
}

.widget_title h1 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_bar {
    margin-top: 10px;
    height: 2px;
    width: 50px;
    background-color:#36a9e1;
}

.widget_body {
    display: flex;
    flex-wrap: wrap;
    
 
}

.wid_body {
    height: 145px;
    width: 145px;
    background-color: #46B4E5;
    margin: 10px;
    margin-right: 20px;
    margin-left: 0px;
}


.separa {
    margin-bottom: 15px;
    height: 2px;
    width: 330px;
    background-color: rgba(128, 128, 128, 0.527);
}

#inside_banner {
    display: flex;
    width: 660px;
    flex-wrap: wrap;
    
    
}

#inside_banner > div {
    width: 280px;
    height: 450px;
 
  
}

.inside {
    font-family: 'Open Sans', sans-serif;
    margin-right: 10px;
    min-width: 300px;
    
}

.inside a {
    text-decoration: none;
}

.inside .news_thumbnail img {
    width: 100%;
    height: auto;
}

footer {
    height: auto;
}

.footer_container , .footer_container_2{
    display: flex;
    flex-direction: column;
    width: 990px;
    
}



.alterando {
    height: 1px;
}

.alterando_title {
    font-size: 18px;
    font-family: 'PT Sans';
    color: white;

}

.treta:hover {
    text-transform:capitalize;
    text-decoration: underline;
    
   
}

.footer_foot {
    display:flex; 
    justify-content:space-between;
    max-width: 900px;
}

.footer_1_container{
    display: flex;

}

.footer_1_container {
    width: 990px;
}

.footer_1_container_1, .footer_1_container_2, .footer_1_container_3{
    flex: 1;
    color: #FFF;
    padding: 20px;
   
}

.footer_1_container_1 {
   
    background-color: #36a9e1;
}

.footer_1_container_2 {
    
    background-color: #0384CE;
}

.footer_1_container_3 {
   
    background-color: #3156A3;
}


@media (max-width:775px) {
 

    #baixo {
    height: auto;
    width: 754px;
    flex-direction: column;
}
    .container {
        width: 100%;
    }


    #cima {
        height: auto;
        width: auto;
        
    }

    #cima h1 {
        font-size: 50px;
        margin-top: 20px;
    }

    .divbaixo a {
        margin-bottom: 10px;
    }

    .divbaixo2 a {
        margin-bottom: 10px;
    }

    .widget {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .widget_body {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        
    }

    .widget2 {
        width: 200px;
    }

    .wid_body {
        height: 80px;
        width: 80px;
        margin: 4px;
    }

    .separa {
        width: auto;
    }

    .container2 {
        width: 600px;
    }

    .testando1 {
        flex: 1;
    }

    .testando2 {
        flex: 2;
        
    }

    #inside_banner {
        
        width: 420px;
        
    }

    .inside {
        margin: 5px;
    }

    .inside img {
        width:200px ;
    }

    .footer_ul {
        width: 88%;
    }



   

    .responsa {
        display: flex;
        justify-content: flex-end;
    }

    footer p {
        font-size: 11px;
    }

    .testewid {
        width: 200px;
        padding-left: 20px;
    }

    .footer_container {
        max-width: 750px;
    }

    .footer_div_text {
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }

    .footer_1_container {
        width: 100%;
    }
    .footer_container_2 {
        width: 100%;
    }
}


@media (max-width:450px) {
    
    #baixo {
        height: auto;
        width: auto;
        flex-direction: column;
    }
   
    .container2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .widget_title h1 {
        text-align: center;
     
    }
    .widget_bar {
        margin-left: 150px;
    }

    #inside_banner {
        justify-content: center;
     
    }

    .wid_body {
        width: 120px;
        height: 120px;
    }

    .widget_body {
        width: 400px;
    }

    .widget2 {
        width: 400px;
    }

    .widget {
        justify-content: center;
        align-items: center;

    }

    .menu {
        width: 230px;
    }

    .footer_div_text {
        text-align: left;
        align-items: flex-start;
    }

    .footer_ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer {
        width: 100%;
    }

    .footer_container {
        max-width: 400px;
    }

    nav ul {
        flex-wrap: wrap;

    }

    .logo img {
        width: 150px;
    }

    .testando2 {
        flex: 2;
        /* margin-left: 30px; */
    }

   

}


@media (max-width:375px) {


 
.footer_container {  
    max-width: 340px;
        
}

.footer_1_container {
    flex-direction: column;
}

.separa {
    width: 350px;
}

.testando2 {
    flex: 2;
    margin-left: none;
    width: 100%;
}

.container2 {
    width: 100%;
}

.wid_body {
    width: 110px;
    height: 110px;
}

.widget {
    
    flex-direction: column;
    flex-wrap: wrap;
    width: 370px;
}

.widget2 {
    width: 350px;
}

.widget_body {
    width: 350px;
    justify-content: center;
}

nav ul {
    width: 220px;
}

#inside_banner {
    width: 339px;
}

#inside_banner p {
    margin: 0;
}

.menu {
    width: 220px;
}

}

@media (max-width:360px) {

.logo {
    width: 125px;
    margin-left: 25px;
}

.logo a {
    width: 100px;
}

.menu {
    width:182px;
}

nav {
    width: 90%;
}

nav ul {

    width: 82%;
    padding-left: 33px;
}


header {
    height: 180px;
}

#cima div {
    width: 300px;
    height: 225px;
}

#inside_banner {
    width: 310px;
}

#cima h1 {
    font-size: 30px;
    margin-top:50px;
}
.footer_container {
    max-width: 310px;
}

.widget2 {
    width: 310px;
}

.separa {
    width: 310px;
}

.widget {
    flex-direction: column;
    flex-wrap: wrap;
    width: 310px;
}

.widget_body {
    width: 310px;
    justify-content: center;
}

.footer_foot {
    width: auto;
}

.conta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 10px;
    width: 220px;
}

.menu {
    width: 220px;

    display: flex;
}
.finale {
    width: 210px;
}

#finale2 {
    width: 290px;
}



.testewid > p {
    width: 190px;
    
}

.footer_div_text {
 font-size: 11px;
}

}



@media (max-width:320px) {

    #finale {
        flex: 1;
    }

    #finale2 {
        flex: 2;
    }

  .ultra_li {
    display: flex;
    justify-content: left;
      }
    .last {
    width: 280px;
    font-size: 11px;
    }

}